body {
  font-size: 16px;
  color: #fff;
  background-color: #fff9f6;
  //background-color: grey;
  font-family: 'Oxygen', sans-serif;
 // margin: 0; //staat ook in bootstrap;
 /*Omdat de onderkant van de tile tegen de onderkant van het scherm plakte*/
 height: 1160px;
}
.container {
 // padding-left: 0px; // margin-left: 20px; //margin-bottom: 5px;
}
header {
 //margin-bottom: 5px; //margin-top: 5px;
}
#header-nav {
  //background-color: #a1a3a6;
  //background-color: #838f8b;
  //background-color: #b2bcac;
  //background-color: #b5a196;
  //background-color: #636d76;
  padding: 0;
  //background-color: #d7cbc5; 
  //background-color: #fffefd;
 // border: 5px solid #b5a196;
  border-radius: 5px;

}
#logo {
 //background: url("../images/restaurant-logo_large.png") no-repeat;
 // width: 100px; //height: 100px; min-width: 100px; /* Wordt anders verkleind bij 768-991*/
  margin-top: 15px; margin-bottom: 5px; margin-left: 0; margin-right: 10px;
}
#nav-list /*de ul*/ a { /* Kleur vd links*/
 //color: #203A43;
 //color: #4D6973;
 color: #35515A;
 //color: #132E37;
  text-align: center; /*Anders staat het uitgeklapte menu helemaal rechts*/ 
  font-weight: bold;
} 
#nav-list a .fas, #nav-list a .fa { /* De awesomes*/ 
  font-size: 1.8em;
} 
#nav-list a .fab { /* De awesomes*/ 
  font-size: 1.2em; 
}
#nav-list a:hover { 
  background: #E7E7E7; /* lichte achtergrond */
}
#about-box {
  //background-color: #838f8b;
  //background-color: #b2bcac;
  //background-color: #dbe0d7;
  //background-color: #81878c;
  //background-color: #636d76;
  background-color: black;
 // border-radius: 5px;
  //border: 5px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
//  text-shadow: 1px 1px 1px #222;
}
#about-box a {
color: #B37F76;
text-decoration: none;
}
#carla-foto-box {
  align-self: center;
}
#carla-foto {
  max-width: 100%;
  height: auto;
  border-radius: 50%;

}
nav h1 {
  font-family: 'Finger Paint', cursive;
  //  font-size: 47px;
  color: #203A43;
  //color: #000;
  font-weight: bold;
  text-shadow: 10px 10px 10px #222;
//  line-height: .75;
}
nav img {
	border-radius: 50%;
	}

.navbar-toggler .icon-bar {
  background-color: #343434;
  display: block; 
  width: 22px;
  height: 2px;
 // border-radius: 1px;
}
.navbar-toggler .icon-bar + .icon-bar {
      margin-top: 4px;
}
.navbar-light .navbar-toggler {
  border-color: #343434; font-size: 0.8em;
  width: 36px;
  height: 30px;
  padding-left: 5px;
  border: 2px solid #343434;
}


//.icon-bar { 
 // width: 50px;
 // height: 1px;
 }
//#nav-group {
//  margin-right: 15px;	
}
#nav-group li {
	text-align: center;
//	margin-top: 15px;
  //padding: 15px;
  //margin-left: 25px;

}

#nav-group .high-over:hover {
  background-color: #FFF;
}
#nav-group i {
  font-size: 1.8em;
}
#nav-group a {
  color: #951C49;
	text-decoration: none;
}
.nav-link {
	padding: 1.5rem 1rem;
text-align: center;
}


#tel-nr {
  font-size: 1.8em;
  display: inline-block; //voor de margin;
 // margin-top: -15px; 
  padding-bottom: 0; 
  // padding-right: 0;
  padding-top: 15px;
}
#deliver {
  text-align: right;
  margin-top: -10px;
  color: #557c3e;
}
#phone {
  display: flex;
  width: 95%;
  align-items: center;
  margin: 20px;
  background-color: #f6b319;
  justify-content: center;
  height: 60px;
  margin-right: auto; margin-left: auto;
  border-radius: 5px;
  font-size: 1.5em;
  border: 2px solid white;
  margin-bottom: 5px;
}
hr {height: 2px;
	width: 100%;
	color: #fff;}

#deliver-small {
	text-align: center;
	font-size: 0.7em;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

#menu-tile {
	background: url("../images/menu-tile.jpg") no-repeat center;
	position: relative;	
	//width: 100%;
	height: 250px;	
	//overflow: hidden;
	margin-bottom: 15px;
}

#specials-tile {
	background: url("../images/specials-tile.jpg") no-repeat center;
	position: relative;	
	//width: 100%;
	height: 250px;	
	margin-bottom: 15px;
}

#map-tile {
  position: relative;	
  height: 250px;
  margin-bottom: 15px;
}

#tiles span {
text-align: center;
width: 100%;
background: #000;
color: #fff;
opacity: .8;
position: absolute; bottom: 0; right: 0;
font-size: 1.6em;
}

/* STYLES FOR MENU-CATEGORIES*/
#sub-title {
  margin-bottom: 50px;
}
#mc-lunch {
	position: relative;
  width: 200px; 
  margin: 0 auto 15px;
  //margin-bottom: 15px;
  //overflow: hidden;
}
#mc-lunch-span {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	background-color: #000;
  color: #fff;
  opacity: 0.8;
  font-size: 1.2em;
}

/* END STYLES FOR MENU-CATEGORIES*/

/* STYLES FOR SINGLE-CATEGORY*/
/*#sc-img-box {
  position: relative;
  margin-bottom: 5px;
  border: 1px solid black;
}*/
#sc-img-box {
  position: relative;
 // border: 2px solid #3F0C1F; 
 // overflow: hidden;
 // padding-right: 0;
 // margin-right: -15px;
 // margin-left: auto;
  margin-bottom: 20px;
  max-width: 480px;
  align-self: end;
}
#sc-img-box-w433 {
  position: relative;
  margin-bottom: 20px;
  max-width: 433px;
  align-self: end;
}
#sc-img-box-w556 {
  position: relative;
  margin-bottom: 20px;
  max-width: 556px;
  align-self: end;
}
#sc-img-box-w628 {
  position: relative;
  margin-bottom: 20px;
  max-width: 628px;
  align-self: end; 
}
#sc-img-box-w630 {
  position: relative;
  margin-bottom: 20px;
  max-width: 630px;
  align-self: end; 
}
#sc-img-box-w696 {
  position: relative;
  margin-bottom: 20px;
  max-width: 696px;
  align-self: end; 
}
#sc-img-box-w750 {
  position: relative;
  margin-bottom: 20px;
  max-width: 750px;
  align-self: end;
}
#sc-img-box-w990 {
  position: relative;
  margin-bottom: 20px;
  max-width: 990px;
  align-self: end; 
}
#sc-img-box-w630 {
  position: relative;
  margin-bottom: 20px;
  max-width: 630px;
  align-self: end; 
}
#sc-img {
  max-width: 100%;
  //height: auto;
  box-shadow: 10px 10px 10px #403d3d
}
#sc-img:hover {
  box-shadow: 0 1px 5px 5px #555555;

  }
#sc-spans-div {
  text-align: right;
}
#sc-span-id{
  font-size: 1.1em;
  position: absolute;
  background-color: #403d3d; opacity: 0.7;
  width: 20%;
  text-align: center;
  bottom:0; right:15px;
}

#sc-span-price {
  font-size: 1.1em;
  position: absolute;
  background-color: #403d3d;
  width: 20%;
  text-align: center;
  bottom:0; left:15px;
  opacity: 0.7;
}
}
#sc-span-measure {
  font-size: 0.8em;
}

/* END STYLES FOR SINGLE-CATEGORY*/


.panel-footer {
	background-color: #222; 
	color: #fff;
	line-height: 2;
	font-size: 2.8;
	padding-top: 30px;
	padding-bottom: 30px;
  margin-top: 30px;
}
.panel-footer .fab, .panel-footer a, #testim, #copyr {
  //color: #B37F76;
  //color: #D6ACA5;
  //color: #8F9EA2;
  color: #FFE4DF;
  //color: #fff;
}
.panel-footer .fab, .panel-footer .fa-home {
  margin-right: 14px;
}
#foot-awesome {
  //color: #fff9f6;
  // color: #d7cbc5;

}
#hours, #address {
	font-size: 1.3em;
}
#delivery {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8; 
}
#testim {
  line-height: 1.4em;
  font-style: italic;
}
#copyr {
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 576px) and (max-width: 767px) {
  #logo {
    background: url('../Blender_logo/logo_100.jpg') no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset -2px 2px 29px 10px rgba(143, 139, 130,1);
  }
  nav h1 {
    font-size: 6vw;
  }    
}

@media (min-width: 200px) and (max-width: 767px) {
  .navbar .container {
	padding-left: 30px;
	padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;  
  }
  #rest_name { /* Restaurant name */
    font-size: 11vw;  }
  .navbar-brand #star_kosh { /* Kosher cert */
    font-size: .7em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }
  #nav-group {
    margin-top: 0px; margin-left: auto; margin-right: auto;
  }
  #navbarSupportedContent {
  	line-height: 0.1; 
  }

  #nav-group i {
  font-size: 1.1em;
  margin-right: 5px;
  }
  #nav-group a {
  font-size: 1.2em;
  }
  .nav-link {padding: 10px;}  
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
.fa-home {
  margin-right: 4px;
  margin-left: -15px;
}
#home-icon-sm-nodisp {
 display: none;
}
#home-icon-sm-disp {
 width: 50px;
 height: 50px;
}
#social-sm div {
 // margin-right: 11px;
 // margin-left: 11px;
 width: 39px;
 height: 39px; 
}  
}

@media (max-width: 218px) {
  #logo {
    display: none;
  }
}
@media (max-width: 575px) {
  #logo {
    background: url('../Blender_logo/logo_50.jpg') no-repeat;
	  min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset -2px 2px 2px 2px rgba(143, 139, 130,1);
  }
  #carla-foto-box {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  nav h1 {
    text-align: center;
    font-size: 7vw;
  }  
  #title-xs {
    max-width: 50%;
    padding: 0;
    line-height: 0;
    margin: 0;
  }
  #logo {
    margin-right: 0;
  }
  #about-box .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar > .container {
    padding-left: 15px;
    padding-right: 15px;    
  }
}

@media (min-width: 768px) {
/*  .navbar-expand-md .navbar-nav .nav-link {
     padding-left: 15px; padding-right: 15px;
  }*/
} 

@media (min-width: 768px) and (max-width: 991px) {
  nav h1 {
    font-size: 2rem;
  }
  #logo {
    background: url('../Blender_logo/logo_100.jpg') no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset -2px 2px 29px 10px rgba(143, 139, 130,1);
  }  
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo {
    background: url('../Blender_logo/logo_100.jpg') no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset -2px 2px 29px 10px rgba(143, 139, 130,1);
  }
}
@media (min-width: 1200px) {
	/* Eens gedaan om container width gelijk te trekken met bs3,
	    maar dan komt de spacing tussen de nav-items niet meer overeen*/ 
  .container {max-width: 1170px; width: 1170px;}  
  #logo {
    background: url("../Blender_logo/logo_large_150.png") no-repeat;
    width: 150px; height: 150px; 
    border-radius: 50%;
    //box-shadow: -2px 2px 29px 10px rgba(68,68,68,1);
    //box-shadow: -2px 2px 29px 10px rgb(256, 256, 256);
   // box-shadow: -2px 2px 29px 10px rgba(143, 139, 130,1);   
     box-shadow: inset -2px 2px 29px 10px rgba(143, 139, 130,1);  
    //border: 5px solid #444;
    //border: 5px solid #203A43;
   // border: 5px solid grey;
  }
    
}